<!--
	This is an example of how to configure Unicorn to override the location on disk to store the serialized items.

	If used, this should be present on all environments where Unicorn is active (usually all but CD).
	
	NOTE: this config file contains several examples. It should not be activated without selecting the mode you wish to use 
	(and in some cases not activated at all if patching a config level path)
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<!--
				There are three ways you can set the root path:
				* Per-configuration
				* Using an abstract base configuration with variables
				* For all configurations that do not define something else
				
				All of the options rely on patching the target data store.
				The target data store is where we write serialized items to.

				Note the target data store's rootPath can be any of:
				Absolute filesystem path, e.g. c:\foo\bar
				Web-root-relative path, e.g. ~/data/serialization or ~/../out-of-root-serialization
				Data-folder-relative path, e.g. $(dataFolder)\serializedItems
				A path using a custom sc.variable-defined configuration var, e.g. $(sourcePath)\Feature\Foo

				DO NOT SHARE A ROOT PATH BETWEEN CONFIGURATIONS.
				They can clobber each other's folders. You may inject the name of the current
				configuration as a variable with $(configurationName).
			-->

			<!--
				EXAMPLE: Per-configuration
			-->
			<!--<configurations>
				<configuration name="I Have a Custom Storage Path">
					<targetDataStore physicalRootPath="C:\Projects\TestSitecore\FXM in action\UnicornMarketingBanner\Unicorn" />
				    <predicate>
				        --><!--
							PREDICATE
							
							The predicate controls what items are included in the configuration.
							
							Each include can also exclude specific subitems in various ways. For a reference of the most current predicate grammar, consult the tests here:
							https://github.com/kamsar/Unicorn/blob/master/src/Unicorn.Tests/Predicates/TestConfiguration.xml

							NOTE: after changing what is included or excluded, you should reserialize all items, or at least the added items for additions.
							NOTE: the "name" attribute controls the folder name the items will go into. If unspecified, the last path segment is used. Names must be unique across the configuration.
							NOTE: You cannot use excludes with Transparent Sync. See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide
							NOTE: If your configuration is named in Helix format (Layer.Module), you can use $(layer) and $(module) here as variables.
						--><!--
				        <include name="Layouts" database="master" path="/sitecore/layout/Layouts" />
				        <include name="Templates" database="master" path="/sitecore/templates" />
				        <include database="master" path="/sitecore/system/Languages" />
				        <include database="master" path="/sitecore/system/Tasks">
				            <exclude path="Schedules" />
				        </include>
				        <include database="master" path="/sitecore/system/Workflows" />
				        <include database="master" path="/sitecore/system/Settings" />
				    </predicate>
				</configuration>
			</configurations>-->

			<!--
				EXAMPLE: Abstract base configuration to use conventions
			-->
			<!--<configurations>
				--><!-- Setup the convention using the HelixConventionVariablesReplacer (inheriting config must be named Layer.Module) --><!--
				<configuration name="Helix" abstract="true">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\$(moduleConfigName)" />
				</configuration>
				
				<configuration name="Foundation.MyModule.Content" extends="Helix">
					--><!-- 
						This configuration will now be placed at $(sourceFolder)\Foundation\MyModule\serialization\Content (variables expand at the inheriting config)
						
						The same trick works great on predicate paths (e.g. '/sitecore/templates/$(layer)/$(module)')
					--><!--
				</configuration>
			</configurations>-->

			<!--
				EXAMPLE: Change the global defaults for all configs
			-->
			<defaults>
				
					<!--VERY IMPORTANT: THIS CONFIG MUST LOAD AFTER THE REGULAR UNICORN CONFIGURATION TO PATCH THE DEFAULTS
					Sitecore config patch files load in alphabetical order, followed by folders.
					So either place this in App_Config/Include/Unicorn, or a folder that loads after that like 'zSite'-->
					
				<targetDataStore>
					<patch:attribute name="physicalRootPath">C:\Projects\TestSitecore\FXM in action\UnicornMarketingBanner\Unicorn\$(configurationName)</patch:attribute>
				</targetDataStore>
			</defaults>
		</unicorn>
	</sitecore>
</configuration>
