<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_Sitecore_Core;User ID=ir_sa;Password=P@ssw0rd" />
  <add name="master" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_Sitecore_Master;User ID=ir_sa;Password=P@ssw0rd" />
  <add name="web" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_Sitecore_Web;User ID=ir_sa;Password=P@ssw0rd" />
  <add name="messaging" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_Sitecore_Messaging;User ID=ir_sa;Password=P@ssw0rd" />
  <add name="xconnect.collection" connectionString="https://dev.test.local.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=7C4216784D30E8878AA1450EE0E89FE8B5868B2B" />
  <add name="xdb.referencedata" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_Sitecore_ReferenceData;User ID=ir_sa;Password=P@ssw0rd" />
  <add name="xdb.referencedata.client" connectionString="https://dev.test.local.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=7C4216784D30E8878AA1450EE0E89FE8B5868B2B" />
  <add name="xdb.processing.pools" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_Sitecore_Processing.Pools;User ID=ir_sa;Password=P@ssw0rd" />
  <add name="reporting" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_Sitecore_Reporting;User ID=ir_sa;Password=P@ssw0rd" />
  <add name="xdb.processing.tasks" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_Sitecore_Processing.Tasks;User ID=ir_sa;Password=P@ssw0rd" />
  <add name="xdb.marketingautomation" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_Sitecore_MarketingAutomation;User ID=ir_sa;Password=P@ssw0rd" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://dev.test.local.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=7C4216784D30E8878AA1450EE0E89FE8B5868B2B" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://dev.test.local.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=7C4216784D30E8878AA1450EE0E89FE8B5868B2B" />
  <add name="experienceforms" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_Sitecore_ExperienceForms;User ID=ir_sa;Password=P@ssw0rd" />
  <add name="exm.master" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_Sitecore_EXM.Master;User ID=ir_sa;Password=P@ssw0rd" />
  <add name="EXM.CryptographicKey" connectionString="E040C938FC9E4EBC3E93330B0F7837F284207B8180DB64CB5B6ABEB1AFBF6F5B" />
  <add name="EXM.AuthenticationKey" connectionString="9D80B4E56AEE694058567BD89C936FB88F2DB1272A4E88F419B6501919E0BB25" />
</connectionStrings>